<template>
  <v-container class="py-8 px-6" fluid>
    <v-row v-if="players">
      <v-col cols="12" sm="6" md="6" lg="6">
        <v-card v-for="player in players" :key="player._id">
          <v-toolbar :color="getPlayerColor(player._id)" dark>
            <v-avatar
              class="mr-2"
              :color="getAvatarColor(player.state)"
              size="40"
            >
              <v-icon>{{ getAvatarIcon(player.state) }}</v-icon>
            </v-avatar>
            <v-toolbar-title>{{ player.name }}</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-row>
              <!-- Playing now-->

              <v-icon v-if="player.playing.series"
                >mdi-television-classic</v-icon
              >
              <v-icon v-else>mdi-movie</v-icon>

              <v-card-title class="py-0">
                <span style="mr-2" v-if="player.playing.series"
                  >{{ player.playing.series }} -
                </span>
                {{ player.playing.name }}
              </v-card-title>
            </v-row>
            <v-row>
              <v-icon class="mr-2">mdi-clock</v-icon>
              {{ formatTime(player.time) }}
            </v-row>
            <v-row>
              <v-simple-table dense>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th class="text-left">Title</th>
                      <th class="text-center"><v-icon>mdi-clock</v-icon></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in player.history" :key="item.name">
                      <td class="provider-container">
                        <img
                          class="provider-icon"
                          :src="`/img/providers/${item.provider}.png`"
                        />
                      </td>
                      <td>
                        <v-icon v-if="item.series"
                          >mdi-television-classic</v-icon
                        >
                        <v-icon v-else>mdi-movie</v-icon>
                      </td>
                      <td>
                        <span v-if="item.series">{{ item.series }} - </span
                        >{{ item.name }}
                      </td>
                      <td>{{ formatHistoryTime(item.played_at) }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-btn icon @click="showDetails = !showDetails">
              <v-icon v-if="showDetails">mdi-chevron-down</v-icon>
              <v-icon v-else>mdi-chevron-up</v-icon>
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn @click="skip(player.name)" fab color="primary">
              <v-icon>mdi-skip-next</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="showDetails">
              <v-divider></v-divider>

              <v-card-text>
                <v-container fluid>
                  <v-row
                    v-for="stat in playerStats(player.stats)"
                    :key="stat.name"
                  >
                    <v-col class="pa-0" cols="4">{{ stat.name }}</v-col>
                    <v-col class="pa-0" cols="8">{{ stat.value }}</v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else class="text-center">
      <v-col cols="12">
        <img src="/img/icon.png" alt="" width="300" height="300" />
      </v-col>
    </v-row>
    <!-- <pre>{{ players }}</pre> -->
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "HomeView",

  data() {
    return {
      players: null,
      showDetails: false,
      interval: null,
    };
  },

  mounted() {
    this.getData();
    this.interval = setInterval(this.getData, 1000);
  },

  beforeDestroy() {
    clearInterval(this.interval);
  },

  methods: {
    async getData() {
      try {
        this.players = (await axios.get("/api/players?history=true")).data;
        console.log(this.players);
      } catch (error) {
        console.error(error);
      }
    },

    async skip(name) {
      try {
        await axios.post(`/api/players/${name}/skip`);
      } catch (error) {
        console.error(error);
      }
    },

    async deletePlayer(name) {
      try {
        await axios.delete(`/api/players/${name}`);
      } catch (error) {
        console.error(error);
      }
    },

    getPlayerColor(name) {
      let hash = 0;
      for (let i = 0; i < name.length; i++) {
        hash = name.charCodeAt(i) + ((hash << 5) - hash);
        hash = hash & hash;
      }
      let color = "#";
      for (let i = 0; i < 3; i++) {
        let value = (hash >> (i * 8)) & 255;
        if (value > 128) {
          value -= 128; // shift color to make white text visible
        } else {
          value += 128; // shift color to make white text visible
        }
        color += ("00" + value.toString(16)).substr(-2);
      }
      return color;
    },
    getAvatarColor(state) {
      switch (state) {
        case "playing":
          return "green";

        case "disconnected":
          return "red";
        default:
          return "blue";
      }
    },
    getAvatarIcon(state) {
      switch (state) {
        case "playing":
          return "mdi-play";

        case "disconnected":
          return "mdi-close";
        default:
          return "mdi-account";
      }
    },
    formatTime(time) {
      // the time is in seconds since start of playback
      try {
        return moment("2015-01-01")
          .startOf("day")
          .seconds(time)
          .format("H:mm:ss");
      } catch (error) {
        return "not playing";
      }
    },

    formatHistoryTime(time) {
      try {
        if (!time) return "N/A";
        return moment(time).format("HH:mm");
      } catch (error) {
        return "N/A";
      }
    },
    playerStats(stats) {
      // turn the stats object into an array of object
      const statsArray = Object.keys(stats).map((key) => {
        return { name: key, value: stats[key] };
      });
      return statsArray;
    },
  },
};
</script>

<style lang="scss" scoped>
.provider-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  .provider-icon {
    width: 24px;
    height: 24px;
  }
}
</style>
