<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list>
        <v-list-item to="/">
          <v-list-item-icon>
            <v-icon>mdi-television</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Stations</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"> </v-app-bar-nav-icon>
      <div class="icon-holder">
        <img class="nav-icon" src="/img/icon.png" alt="" />
      </div>

      <v-toolbar-title>Lan Cable</v-toolbar-title>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    drawer: false,
    //
  }),
};
</script>

<style lang="scss" scoped>
.icon-holder {
  display: flex;
  align-content: center;
  justify-items: center;
  .nav-icon {
    height: 50px;
    width: 50px;
  }
}
</style>
